
<div id="outside">


<div  class="container col col-lg-10">
    <h1>Edit Profile</h1>
    

    <form [formGroup]="profileeditform" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-lg-4">
                <label>First Name</label>
                <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid':freg.firstname.errors }" />
                <div *ngIf="freg.firstname.errors" class="invalid-feedback">
                    <div *ngIf="freg.firstname.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label>Last Name</label>
                <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': freg.lastname.errors }" />
                <div *ngIf="freg.lastname.errors" class="invalid-feedback">
                    <div *ngIf="freg.lastname.errors.required">Last Name is required</div>
                </div>
            </div>    
            <div class="form-group col-lg-4">
                <label>Emaill</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid':freg.email.errors }" />
                <div *ngIf="freg.email.errors" class="invalid-feedback">
                    <div *ngIf="freg.email.errors.required">First Name is required</div>
                    <div *ngIf="freg.email.errors.email">Email Format required</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-4">
                <label>City</label>
                <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid':freg.city.errors }" />
                <div *ngIf="freg.city.errors" class="invalid-feedback">
                    <div *ngIf="freg.city.errors.required">First Name is required</div>
                    <div *ngIf="freg.city.errors.email">Email Format required</div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label>Gender</label>
                <input type="text" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid':freg.gender.errors }" />
                <div *ngIf="freg.gender.errors" class="invalid-feedback">
                    <div *ngIf="freg.gender.errors.required">First Name is required</div>
                    
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="form-group col-lg-4">
                <label>Profile Url</label>
                <input type="text" formControlName="profileUrl" class="form-control" [ngClass]="{ 'is-invalid':freg.profileUrl.errors }" />
                <div *ngIf="freg.profileUrl.errors" class="invalid-feedback">
                    <div *ngIf="freg.profileUrl.errors.required">ProfileUrl is required</div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label>About you</label>
                <input type="text" formControlName="aboutyou" class="form-control" [ngClass]="{ 'is-invalid':freg.aboutyou.errors }" />
                <div *ngIf="freg.aboutyou.errors" class="invalid-feedback">
                    <div *ngIf="freg.aboutyou.errors.required">First Name is required</div>
                    
                </div>
            </div>
        </div>
        <form [formGroup]="socialmediahandles" class="border border-primary" >
            Social Media Handles
            
                <div class="form-group col">
                    <label>Pinterest</label>
                    <input type="text" formControlName="pinterest" class="form-control" [ngClass]="{ 'is-invalid':fsocm.pinterest.errors }" />
                    <div *ngIf="fsocm.pinterest.errors" class="invalid-feedback">
                        <div *ngIf="fsocm.pinterest.errors.required">First Name is required</div>                        
                    </div>
                </div>
                <div class="form-group col">
                    <label>Facebook</label>
                    <input type="text" formControlName="twitter" class="form-control" [ngClass]="{ 'is-invalid':fsocm.twitter.errors }" />
                    <div *ngIf="fsocm.twitter.errors" class="invalid-feedback">
                        <div *ngIf="fsocm.facebook.errors.required">First Name is required</div>                        
                    </div>
                </div>
                <div class="form-group col">
                    <label>Twitter</label>
                    <input type="text" formControlName="facebook" class="form-control" [ngClass]="{ 'is-invalid':fsocm.twitter.errors }" />
                    <div *ngIf="fsocm.twitter.errors" class="invalid-feedback">
                        <div *ngIf="fsocm.twitter.errors.required">First Name is required</div>                        
                    </div>
                </div>
                <div class="form-group col">
                    <label>Personal Blog</label>
                    <input type="text" formControlName="personalblog" class="form-control" [ngClass]="{ 'is-invalid':fsocm.personalblog.errors }" />
                    <div *ngIf="fsocm.personalblog.errors" class="invalid-feedback">
                        <div *ngIf="fsocm.personalblog.errors.required">First Name is required</div>                        
                    </div>
                </div>
                
        </form>
        <div class="text-center">
            <button class="btn btn-primary mr-1">Edit</button>
            <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button> -->
        </div>
    </form>

</div>
</div>