

<button mat-button [mat-dialog-close]="true">Close</button>
    <div *ngIf="this.displayrecipes" class="row">
        <div *ngFor="let item of this.displayrecipes" class="col col-lg-3">
            <!-- <ng-template ngFor let-item [ngForOf]="this.displayrecipes">
                <app-scrolling-recipe-card [recipeCard]="item"></app-scrolling-recipe-card>
            </ng-template> -->
            <app-scrolling-recipe-card [recipeCard]="item"></app-scrolling-recipe-card>
        </div>
    </div>
    <div *ngIf="!this.displayrecipes" >
        No Recipes found
    </div>

