.ingredientcomponent 
{    
    flex:0;
    border-width:thick  !important;   
    display: list-item; 
    width: fit-content;
}

.instructioncomponent 
{    
    flex:0;
    border-width:thick  !important;   
    display: list-item; 
    width: fit-content;
}