

<form [formGroup]="signInForm">
    <div class="form-group">
        <mat-form-field appearance="fill" class="col-lg-4 col-md-8 col-xs-10">
            <mat-label>Enter your Email</mat-label>
            <input type="email" formControlName="email" matInput>                     
            <mat-error *ngIf="fsig.email.errors && fsig.email.touched">
                <mat-error *ngIf="fsig.email.errors.required">Email is required</mat-error>
                <mat-error *ngIf="fsig.email.errors.email">Invalid Email</mat-error>
                <mat-error *ngIf="fsig.email.errors.minlength">min length of 8 characters is required</mat-error>
            </mat-error>
          </mat-form-field>
    </div>
    <div class="form-group">        
        <mat-form-field appearance="fill" class="col-lg-4 col-md-8 col-xs-10">
            <mat-label>Enter your password</mat-label>
            <input type="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="fsig.password.errors && fsig.password.touched">
                <mat-error *ngIf="fsig.password.errors.required">Password is required</mat-error>
                <mat-error *ngIf="fsig.password.errors.minlength">min length of 8 characters is required</mat-error>
            </mat-error>
          </mat-form-field>
    </div>
    <div>
    <button class="btn btn-primary mr-1" data-toggle="appButtontooltipcust" title="Sign In" [disabled]= "!signInForm.valid"  (click)="onSUbmit()" >
         Sign In</button>
    </div>

</form>

<div class="hyperlinks">
    <div>
    <a [routerLink]="['/userregister']">
        <label><h2>Create Profile</h2></label> 
        <img src="./../../assets/Image/Profile.png">
    </a>
    </div>
</div>



