

<h2 mat-dialog-title>Add Review</h2>
<mat-dialog-content class="mat-typography">
  <h3>Please fill the Review</h3>
  <form class="example-form">
    <mat-form-field class="example-half-width">
      <mat-label>Edit Your Rating</mat-label>
      <input matInput placeholder="4" value="this.data.ReviewRating">
    </mat-form-field>
  <br/>
    <mat-form-field class="example-full-width">
      <mat-label>Edit your review</mat-label>
      <textarea matInput placeholder="Ex. Above Avergae" value="this.data.ReviewText"></textarea>
    </mat-form-field>
  </form>

</mat-dialog-content>
